body{
	background-image: url(968031.png);
	text-algigne: center;
}
h1{
	font-family: broadway;
	color: Red;
	font-size: 90px;
}
p{

	font-size: 25px;
	color: Black;
	
}
h2{

	down: 500xp;
}



